/* 

Web site name : Resturant
Author : Mr Abdullah Mohammed
Author page : https://www.facebook.com/Mr.abdallah.M 


*/

$media: screen;
$feature_min: min-width;
$feature_max: max-width;
$value_one: 767px;
$value_two: 768px;
$value_three: 991px;
$value_four: 992px;
$value_five: 1199px;
$value_six: 1367px;
$template_color: #f10909;
$white_color: #ffffff;
$black_color: #000000;

@media only #{$media} and ($feature_max : $value_one) {
    .preloader-area {
        #cooking {
            margin-left: -135px;
        }
    }
    .btn {
        font-size: 13px;
        padding: 10px 30px 6px;
        letter-spacing: 1px;
    }
    .ptb-100 {
        padding: {
            top: 50px;
            bottom: 50px;
        }
    }
    p {
        font-size: 15px;
    }
    .section-title {
        margin: {
            top: -8px;
            bottom: 40px;
        }

        span {
            font-size: 22px;
            margin-bottom: 5px;
        }
        h2 {
            font-size: 28px;
        }
    }
    .owl-theme {
        .owl-nav {
            [class*="owl-"] {
                font-size: 20px !important;
                left: 0;
                width: 40px;
                height: 40px;
                line-height: 49px !important;
            }
            .owl-next {
                left: auto;
                right: 0;
            }
        }
    }

    .top-area {
        .top-bar {
            display: none;
        }
    }
    .transparent-navbar {
        &.navbar-expand-lg {
            .navbar-toggler {
                color: $white_color;
                border-color: $white_color;

                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
                }
            }
            .navbar-collapse {
                background: $white_color;

                .navbar-nav {
                    padding: 15px 0;

                    .nav-item {
                        padding: {
                            right: 15px;
                            left: 15px;
                            bottom: 10px;
                            top: 10px;
                        }
                        .nav-link {
                            color: $black_color;

                            &:hover, &:focus {
                                color: $template_color;
                            }
                            &.active, &.show, &:hover, &:focus {
                                color: $template_color;
                            }
                        }
                    }
                }
            }
        }
    }
    .navbar {
        &.navbar-light {
            &.is-sticky {
                padding: 5px 15px;

                .navbar-toggler {
                    color: $black_color;
                    border-radius: 1px;
                    border-color: $black_color;
    
                    .navbar-toggler-icon {
                        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
                    }
                }
            }
        }
        &.middle-logo-navbar {
            &.navbar-expand-lg {
                .navbar-brand {
                    display: block;

                    &.black-logo {
                        display: none;
                    }
                }
                .navbar-nav {
                    .nav-item {
                        &.logo {
                            display: none;
                        }
                    }
                }
            }
            &.is-sticky {
                .navbar-brand {
                    display: none;

                    &.black-logo {
                        display: block;
                    }
                }
            }
        }
        &.white-bg-navbar {
            &.navbar-expand-lg {
                .navbar-toggler {
                    color: $black_color;
                    border-color: $black_color;
                    border-radius: 1px;

                    .navbar-toggler-icon {
                        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
                    }
                }
                .navbar-nav {
                    .nav-item {
                        padding: {
                            right: 15px;
                            left: 15px;
                            bottom: 10px;
                            top: 10px;
                        }
                    }
                }
            }
        }
        &.middle-logo-navbar {
            &.white-bg-navbar {
                &.navbar-expand-lg {
                    .navbar-brand {
                        display: none;

                        &.black-logo {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .main-banner {
        height: 100%;
        padding: {
            top: 150px;
            bottom: 150px;
        }
    }
    .main-banner-content {
        h1 {
            margin: 0 0 20px 0;
            font-size: 65px;
        }
        h3 {
            font-size: 18px;
            letter-spacing: 1px;
            margin: 0 0 30px 0;
        }
    }
    .down_arrow {
        .scroll_down {
            height: 40px;
            width: 25px;

            &::before {
                margin-left: -2px;
            }
        }
    }
    .wave_box {
        .wave {
            height: 50px;
        }
    }

    .story-area {
        .line-bg {
            display: none;
        }
    }
    .story-image {
        text-align: center;

        .col-lg-6 {
            img {
                margin-top: 20px;
                border-radius: 3px;
            }
            &:last-child {
                img {
                    margin-top: 20px;
                }
            }
        }
    }
    .story-content {
        max-width: 100%;
        margin-top: 40px;

        .story-quote {
            .quote-info {
                padding: {
                    top: 13px;
                    bottom: 8px;
                }
                h3 {
                    font-size: 15px;
                }
                span {
                    font-size: 14px;
                }
            }
        }
    }

    .shape2, .shape1, .shape3, .line-bg {
        display: none;
    }

    .single-offer {
        .offer-content {
            padding: 15px;
            margin: {
                left: 0;
                right: 0;
                top: -8px;
            }
            border-radius: 0;

            h3 {
                font-size: 18px;
                line-height: 27px;

                span {
                    font-size: 14px;
                }
            }
        }
    }

    .stunning-things {
        padding-bottom: 20px;
    }
    .single-box {
        padding: 15px;

        .icon {
            font-size: 35px;
        }
        h3 {
            font-size: 18px;
        }
    }

    .divider-top {
        height: 5px;
    }
    .divider-bottom {
        height: 5px;
    }

    .video-area {
        .video-content {
            h2 {
                font-size: 30px;
                margin: {
                    top: -3px;
                    bottom: 20px;
                }
            }
        }
    }

    .tab {
        .tabs {
            margin-bottom: 25px;

            li {
                margin: 0 15px;

                a {
                    font-size: 16px;
                    margin-bottom: 15px;

                    i {
                        width: 52px;
                        height: 52px;
                        line-height: 52px;
                        font-size: 25px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .tabs_item {
            padding: {
                top: 25px;
                left: 20px;
                right: 20px;
                bottom: 0;
            }

            .single-menu {
                margin-bottom: 25px;
                padding-left: 80px;

                .food-menu-img {
                    width: 65px;
                    height: 65px;
                }
                .food-menu-content {
                    h3 {
                        font-size: 18px;
                        margin: 0 0 10px;

                        .menu-price {
                            font-size: 16px;
                            display: block;
                            float: none;
                            margin-top: 15px;
                        }
                    }
                    ul {
                        li {
                            -ms-flex: 0 0 50%;
                            -webkit-box-flex: 0;
                            flex: 0 0 50%;
                            max-width: 50%;
                            margin-top: 7px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .menu-area-two {
        padding-bottom: 20px;

        .shape2 {
            top: 5px;
        }
    }
    .single-restaurant-menu {
        margin-bottom: 30px;

        .menu-content {
            h3 {
                font-size: 18px;
                margin: 0 0 10px;

                .price {
                    float: none;
                    font-size: 16px;
                    margin-top: 15px;
                    display: block;
                }
            }
            ul {
                li {
                    -ms-flex: 0 0 50%;
                    -webkit-box-flex: 0;
                    flex: 0 0 50%;
                    max-width: 50%;
                    margin-top: 7px;
                    font-size: 14px;
                }
            }
        }
    }
    .laureel-food-menu {
        h3 {
            margin-bottom: 25px;
            font-size: 20px;
            border-bottom: 2px solid #eeeeee;
            padding-bottom: 3px;
        }
        .single-box-menu {
            padding: {
                left: 100px;
                bottom: 25px;
                right: 20px;
                top: 25px;
            }
            .food-image {
                left: 20px;
                top: 25px;
                width: 65px;
                height: 65px;
            }
            .menu-content {
                h4 {
                    font-size: 18px;
                    margin: 0 0 10px;

                    .price {
                        float: unset;
                        font-size: 16px;
                        display: block;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    .menu-item {
        .menu-content {
            h3 {
                font-size: 18px;
            }
        }
    }

    .reservation-area {
        h2 {
            font-size: 30px;
            margin: {
                top: -3px;
                bottom: 20px;
            }
        }
    }
    #reservationModal {
        .modal-dialog {
            .modal-content {
                .modal-header {
                    padding: 20px 20px 15px;

                    .modal-title {
                        font-size: 18px;
                    }
                    .close {
                        right: -5px;
                        top: -20px;
                        background: $template_color;
                        border-radius: 50%;
                        font-size: 20px;
                        width: 35px;
                        height: 35px;
                        line-height: 0;
                    }
                }
                .modal-body {
                    padding: 20px;
                }
            }
        }
    }

    .single-team {
        .team-content {
            h3 {
                font-size: 18px;
            }
            span {
                font-size: 15px;
            }
        }
    }
    .team-slides {
        &.owl-theme {
            .owl-dots {
                margin-top: 35px;
            }
        }
    }

    .find-us-area {
        text-align: center;

        span {
            font-size: 22px;
            margin-top: -7px;
        }
        h2 {
            font-size: 30px;
            margin-bottom: -10px;
        }
        .text-end {
            text-align: center !important;

            .btn {
                margin-top: 35px;
            }
        }
    }

    .single-image {
        .image-content {
            h3 {
                font-size: 18px;
            }
        }
    }

    .features-area {
        padding-bottom: 20px !important;

        .col-lg-4 {
            &:first-child {
                .single-features {
                    padding: {
                        left: 80px;
                        right: 0;
                    }
                    text-align: left;

                    .icon {
                        left: 0;
                        right: auto;
                    }
                }
            }
        }
    }
    .single-features {
        padding-left: 80px;

        .features-content {
            h3 {
                font-size: 18px;
            }
        }
    }
    .features-img {
        display: none;
    }

    .single-feedback {
        p {
            font-size: 18px;
        }
        .client-info {
            h3 {
                font-size: 18px;
            }
        }
    }
    .feedback-slides {
        &.owl-theme {
            .owl-dots {
                margin-top: 35px;
            }
        }
    }

    .single-blog-post {
        .blog-post-content {
            h3 {
                margin: {
                    top: 10px;
                    bottom: 10px;
                }
                font-size: 18px;
            }
        }
    }

    .restaurant-cta {
        span {
            font-size: 22px;
            margin: {
                top: -7px;
            }
        }
        h2 {
            font-size: 30px;
            line-height: 45px;
            margin-bottom: 20px;
        }
    }

    .contact-box {
        margin-bottom: 30px;

        h3 {
            font-size: 18px;
        }
    }
    #contactForm {
        padding: 15px;
        margin-top: 0;
    }

    .page-title {
        padding: {
            top: 160px;
            bottom: 90px;
        }
        h3 {
            font-size: 30px;
        }
    }

    .pagination-navbar {
        margin-top: 20px;

        .pagination {
            .page-item {
                .page-link {
                    padding: 6px 15px 3px;
                    font: {
                        weight: 600;
                        size: 16px;;
                    }
                }
            }
        }
    }

    .blog-details-area {
        .blog-details {
            .article-img {
                .date {
                    bottom: 10px;
                    width: 50px;
                    right: 10px;
                    height: 50px;
                    font-size: 15px;
                    padding-top: 6px;
                    line-height: 20px;
                }
            }
            .article-content {
                padding: 15px;

                ul {
                    &.category {
                        margin-bottom: 20px;

                        li {
                            a {
                                padding: 5px 13px 2px;
                                margin-bottom: 5px;
                                font: {
                                    font-size: 14px;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
                h3 {
                    font-size: 18px;
                    margin-bottom: -5px;
                    line-height: 25px;
                }
                .blockquote {
                    padding: 15px;
                    border-left: 3px solid $template_color;

                    p {
                        font-size: 15px;
                    }
                }          
            }
        }
        .post-controls-buttons {
            text-align: center;
            padding: 15px;

            .controls-left {
                float: unset;
            }
            .controls-right {
                float: unset;
                margin-top: 10px;
            }
            div {
                a {
                    font-size: 15px;
                }
            }
        }
        .post-comments {
            padding: 15px;

            h3 {
                font-size: 18px;
                margin-bottom: 0;
            }
            .single-comment {
                padding-left: 0;

                .comment-img {
                    position: relative;
                    margin-bottom: 20px;
                }
                .comment-content {
                    span {
                        font-size: 14px;
                    }
                    a {
                        font-size: 14px;
                    }
                }
                &.left-m {
                    margin-left: 20px;
                }
            }
        }
        .leave-a-reply {
            padding: 15px;

            h3 {
                font-size: 18px;
            }
        }
    }

    .instagram-item-list {
        .instagram-follow {
            h3 {
                font: {
                    size: 10px;
                    weight: 700;
                }
                padding: 15px 10px 10px;
            }
        }
    }

    .footer-area {
        text-align: center;

        ul {
            text-align: center;
            margin: 15px 0 0;

            li {
                font-size: 14px;

                &::before {
                    top: 4px;
                    height: 12px;
                }
            }
        }
    }

    .go-top {
        bottom: 10px;
        right: 10px;
        font-size: 20px;
        width: 45px;
        height: 45px;
        line-height: 50px;
    }
}

@media only #{$media} and ($feature_min : $value_two) and ($feature_max : $value_three) {
    .section-title {
        margin: {
            bottom: 50px;
            top: -8px;
        }

        span {
            font-size: 25px;
            margin-bottom: 5px;
        }
        h2 {
            font-size: 32px;
        }
    }
    .btn {
        font-size: 14px;
        padding: 10px 30px 6px;
        letter-spacing: 1px;
    }
    .ptb-100 {
        padding: {
            top: 70px;
            bottom: 70px;
        }
    }

    .top-area {
        .top-bar {
            padding-bottom: 0;

            .call-to-action {
                p {
                    margin: 0 0 8px 0;
                    display: block;
                    font-size: 14px;
                }
            }
            .top-social {
                float: unset;
                margin: 0 0 0 0;
                text-align: right;

                li {
                    a {
                        font-size: 14px;
                    }
                }
            }
            .opening-hours {
                float: unset;
                text-align: right;
                margin-top: 6px;

                p {
                    font-size: 14px;
                }
            }
        }
    }

    .transparent-navbar {
        &.navbar-expand-lg {
            .navbar-toggler {
                color: $white_color;
                border-color: $white_color;

                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
                }
            }
            .navbar-collapse {
                background: $white_color;

                .navbar-nav {
                    padding: 15px 0;

                    .nav-item {
                        padding: {
                            right: 15px;
                            left: 15px;
                            bottom: 10px;
                            top: 10px;
                        }
                        .nav-link {
                            color: $black_color;

                            &:hover, &:focus {
                                color: $template_color;
                            }
                            &.active, &.show, &:hover, &:focus {
                                color: $template_color;
                            }
                        }
                    }
                }
            }
        }
    }
    .navbar {
        &.navbar-light {
            &.is-sticky {
                padding: 5px 15px;

                .navbar-toggler {
                    color: $black_color;
                    border-radius: 1px;
                    border-color: $black_color;
    
                    .navbar-toggler-icon {
                        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
                    }
                }
            }
        }
        &.middle-logo-navbar {
            &.navbar-expand-lg {
                .navbar-brand {
                    display: block;

                    &.black-logo {
                        display: none;
                    }
                }
                .navbar-nav {
                    .nav-item {
                        &.logo {
                            display: none;
                        }
                    }
                }
                &.is-sticky {
                    .navbar-brand {
                        display: none;
    
                        &.black-logo {
                            display: block;
                        }
                    }
                }
            }
        }
        &.white-bg-navbar {
            &.navbar-expand-lg {
                .navbar-toggler {
                    color: $black_color;
                    border-color: $black_color;
                    border-radius: 1px;

                    .navbar-toggler-icon {
                        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
                    }
                }
                .navbar-nav {
                    .nav-item {
                        padding: {
                            right: 15px;
                            left: 15px;
                            bottom: 10px;
                            top: 10px;
                        }
                    }
                }
            }
        }
        &.middle-logo-navbar {
            &.white-bg-navbar {
                &.navbar-expand-lg {
                    .navbar-brand {
                        display: none;

                        &.black-logo {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .main-banner {
        height: 100%;
        padding: {
            top: 220px;
            bottom: 190px;
        }
    }
    .main-banner-content {
        h1 {
            font-size: 85px;
        }
        h3 {
            font-size: 20px;
            margin: 0 0 30px 0;
        }
    }

    .story-content {
        max-width: 100%;
        margin-top: 40px;

        .story-quote {
            .quote-info {
                padding: {
                    top: 12px;
                    bottom: 5px;
                }
                .story-content .story-quote .quote-info h3 {
                    font-size: 16px;
                }
            }
        }
    }

    .shape1 {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 100px;
    }
    .shape2 {
        top: 10px;
        right: 10px;
    }

    .video-area {
        .video-content {
            h2 {
                font-size: 35px;
            }
        }
    }

    .line-bg {
        display: none;
    }

    .tab {
        .tabs {
            li {
                margin: 0 20px;
            }
        }
    }

    .divider-top {
        height: 12px;
    }
    .divider-bottom {
        height: 12px;
    }

    .single-offer {
        .offer-content {
            padding: 25px;
            margin: {
                left: 10px;
                right: 10px;
                top: -15px;
            }
            border-radius: 0;

            h3 {
                font-size: 20px;
            }
        }
    }

    .stunning-things {
        padding-bottom: 40px;
    }
    .single-box {
        h3 {
            font-size: 20px;
        }
    }

    .tab {
        .tabs_item {
            .single-menu {
                .food-menu-content {
                    h3 {
                        font-size: 20px;

                        .menu-price {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    .menu-area-two {
        padding-bottom: 30px;

        .shape2 {
            top: 10px;
            right: 10px;
        }
    }

    .laureel-food-menu {
        h3 {
            font-size: 22px;
        }

        .single-box-menu {
            padding: {
                left: 115px;
                bottom: 25px;
                right: 20px;
                top: 25px;
            }
            .food-image {
                left: 20px;
                top: 25px;
                width: 75px;
                height: 75px;
            }
            .menu-content{
                h4 {
                    margin-bottom: 15px;
                    font-size: 20px;

                    .price {
                        float: unset;
                        font-size: 18px;
                        display: block;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    .menu-item {
        .menu-content {
            h3 {
                font-size: 20px;
            }
        }
    }
    .single-restaurant-menu {
        padding-left: 100px;

        .menu-content {
            h3 {
                font-size: 20px;

                .price {
                    font-size: 18px;
                }
            }
        }
    }

    .reservation-area {
        h2 {
            font-size: 35px;
        }
    }

    .single-team {
        .team-content {
            h3 {
                font-size: 20px;
            }
        }
    }

    .find-us-area {
        h2 {
            font-size: 35px;
        }

        .text-end {
            text-align: left !important;

            .btn {
                margin-top: 35px;
            }
        }
    }

    .single-feedback {
        .client-info {
            h3 {
                font-size: 20px;
            }
        }
    }

    .features-area {
        padding-bottom: 40px !important;

        .col-lg-4 {
            &:nth-child(2) {
                display: none;
            }
        }
    }
    .single-features {
        .features-content {
            h3 {
                font-size: 20px;
            }
        }
    }

    .restaurant-cta {
        span {
            margin-top: -11px;
        }
        h2 {
            font-size: 35px;
            line-height: 50px;
        }
    }

    .single-blog-post {
        .blog-post-content {
            h3 {
                font-size: 20px;
            }
        }
    }

    .contact-box {
        margin-bottom: 30px;

        h3 {
            font-size: 20px;
        }
    }
    #contactForm {
        margin-top: 10px;
        padding: 30px;
    }

    .instagram-item-list {
        .instagram-follow {
            h3 {
                font-size: 15px;
                padding: 19px 15px 11px;
            }
        }
    }

    .blog-details-area {
        .blog-details {
            .article-content {
                h3 {
                    font-size: 20px;
                }
            }
        }
        .post-comments {
            h3 {
                font-size: 20px;
            }
        }
        .leave-a-reply {
            h3 {
                font-size: 20px;
            }
        }
    }

    .footer-area {
        p {
            font-size: 14px;
        }
        ul {
            li {
                font-size: 14px;

                &::before {
                    top: 4px;
                    height: 12px;
                }
            }
        }
    }
}

@media only #{$media} and ($feature_min : $value_four) and ($feature_max : $value_five) {
    .story-image {
        .col-lg-6 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;

            &:last-child {
                display: none;
            }
        }
    }
    .story-content {
        max-width: 100%;
        margin-top: 70px;
    }
    .line-bg {
        display: none;
    }
    .features-img {
        margin-top: -18px;
    }
}

@media only #{$media} and ($feature_min : $value_six) {
    .main-banner {
        height: 100vh;
    }
    .main-banner-content {
        margin-top: 0;

        h1 {
            font-size: 130px;
        }
    }
    .story-image {
        .col-lg-6 {
            &:last-child {
                img {
                    margin-top: 65px;
                }
            }
        }
    }
    .story-content {
        margin-top: 60px;
    }
    .divider-top {
        height: 30px;
    }
    .divider-bottom {
        height: 30px;
    }
}